@charset "UTF-8";
/* 
 * Estilos para a impressora
 */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
}

article::after {
  content: "Esse artigo foi impresso atraves do site www.exemplo.com";
  display: block;
  clear: both;
}