@charset "UTF-8";

/* Todas as demais midias*/

/* tipical device
 Pequenas telas : ate 600px
 celular : 600px a 768px
 tablet : 768px a 1024px  
 desktop : 1024px a 1280px
 desktop grande : 1280px a 1440px  

*/

@media print {

}

@media screen and (min-width: 768px) and (max-width:992px) {
  body {
     background-image: url(imagens/back-tablet.jpg);
  }

  img#phone{
    display:block}

img#tablet{
    display:block}

img#print{
    display:none}

img#pc{
    display:none}

img#tv{
    display:none
}


}

@media screen and (min-width: 992px) and (max-width:1280px) {
  body {
     background-image: url(imagens/back-pc.jpg);
  }

    img#phone{
    display:block}

img#tablet{
    display:block}

img#print{
    display:none}

img#pc{
    display: block}

img#tv{
    display:none
}

}

@media screen and (min-width: 1280px) {
    body { background-image: url(imagens/back-tv.jpg);
    
    }

        img#phone{
    display:block}

img#tablet{
    display:block}

img#print{
    display:none}

img#pc{
    display: block}

img#tv{
    display:block}
}

    