@charset" UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
/*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#308C83,#B4D9CE);
}
main{ background-color: white;
    border-radius:10px ;
    box-shadow:5px 5px 15px #184D59 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
text-align: justify;
}
h1{ 
    color:#184D59 ;
    text-align: center;
    text-shadow: 1px 1px ;
}
h2{
    color:#659FA6 ;
}